* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
 /* mitnick */
max-width: 1000px;
margin: 0px auto;
position: relative;
background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(89,66,98,1) 55%, rgba(9,10,10,1) 100%);
	
	@keyframes gradient {
	0% {
		background-position: 0% 20%;
	}
	50% {
		background-position: 100% 30%;
	}
	100% {
		background-position: 0% 20%;
	}
		/* mitnick*/
}
}
.App {
  transition: all 0.5s ease;
}
.library-active {
  margin-left: 20%;
}

h1,
h2,
h3 {
  color: rgb(230, 26, 32); /* 43, 42, 44.  MITNICK algo rojo */
}
h3,
h4 {
  font-weight: 400;
  color: rgb(87, 85, 85);
}

@import "./song";
@import "./player";
@import "./library";
@import "./nav";
