* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
 /* mitnick */
max-width: 1000px;
margin: 0px auto;
position: relative;
/*background: linear-gradient(-45deg, #ee7752, #e73c7e, #e5027e, #23d5ab);
	background-size: 400% 300%;*/
	
	background-image: linear-gradient(160deg, #ffd2e3 0, #ffcaea 8.33%, #ffc2ee 16.67%, #ffb9ee 25%, #ffafeb 33.33%, #ffa4e4 41.67%, #f798d8 50%, #d88cca 58.33%, #bc82bd 66.67%, #a479b2 75%, #8f71a7 83.33%, #7d6b9e 91.67%, #6f6797 100%);
	background-size: 400% 300%;
	animation: gradient 25s ease infinite;
	
	@keyframes gradient {
	0% {
		background-position: 0% 20%;
	}
	50% {
		background-position: 100% 30%;
	}
	100% {
		background-position: 0% 20%;
	}
		/* mitnick*/
}
}
.App {
  transition: all 0.5s ease;
}
.library-active {
  margin-left: 20%;
}

h1,
h2,
h3 {
  color: rgb(230, 26, 32); /* 43, 42, 44.  MITNICK algo rojo */
}
h3,
h4 {
  font-weight: 400;
  color: rgb(87, 85, 85);
}

@import "./song";
@import "./player";
@import "./library";
@import "./nav";
