* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background-image: linear-gradient(90deg, #ff7946 0, #ff6447 16.67%, #ff4745 33.33%, #f90940 50%, #e8003d 66.67%, #da003e 83.33%, #d00044 100%); border-radius: 9px; -moz-border-radius: 9px; -webkit-border-radius: 9px;
}
.App {
  transition: all 0.5s ease;
}
.library-active {
  margin-left: 20%;
}

h1,
h2,
h3 {
  color: rgb(230, 26, 32); /* 43, 42, 44.  MITNICK algo rojo */
}
h3,
h4 {
  font-weight: 400;
  color: rgb(87, 85, 85);
}

@import "./song";
@import "./player";
@import "./library";
@import "./nav";
